@media screen and (min-width: 0){
    /* body{
        display: grid;
        grid-template-columns: 100%;
    } */

    .barra__nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 85%;
        margin: 0 auto;
        column-gap: 7px;
    }
    
    .barra__nav img{
        width: 100%;
        height: 100%;
    }  

    .textos__principais{
        width: 85%;
        margin: 0 auto;
    }

    .textos__principais h2{
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .textos__principais h3{
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .visualizar__tudo {
        width: 60px;
    }

    .visualizar__tudo--seta::after{
        width: 5%;
        justify-content: flex-end;
    }

    .wallpaper_infos {
        /* width: 90%; */
        /* right: 42px; */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
}


@media screen and (min-width: 375px){
    .cabecalho{
        width: 90%;
        margin: 0 auto;
    }

    .wallpaper_infos{
        width: 90%;
        right: 15px
    }

    .textos__principais{
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    /* .visualizar__tudo--seta::after{
        right: 25px;
    } */

    .barra__nav{
        width: 90%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }

}


@media screen and (min-width: 768px){

    .cabecalho_lupa1{
        display: none;
    }

    .cabecalho{
        width: 90%;
    }

    .cabecalho .alura{
        order: -1;
    }
    .alura__logo-link{
        order: -1;
    }

    .aba__pesquisar{
        display: block;
        order: -1;
        position: absolute;
        right: 45em;
    }

    .search__area{
        background-image: url(/Images/Lupa.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: 18.5em;
        border: none;
        width: 272px;
        height: 40px;
  
    }

    .search__area::placeholder{
        position: relative;
        left: 15px;
    }

    .barra__nav{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 90%;
        margin: 0 auto;
    }

    .wallpaper_infos {
        width: 90%;
        right: 42px;
    }

    /* .visualizar__tudo--seta::after{
        right: 55px;
    } */

    .banner_section{
        width: 100%;
        height: 300px;
    }

    .wallpaper_infos {
        row-gap: 15px;
        top: 140px;
    }

    .wallpaper_infos h1{
        font-size: 52px;
        
    }

    .wallpaper_infos p{
        font-size: 22px;

    }

    .rodape{
        display: flex;
        flex-direction: row;
        height: 20em;
        justify-content: space-around;
    }

    .lista__rodape{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        row-gap: 5px;

    }
    .imagem__titulo {
        display: grid;
        justify-content: center;
        row-gap: 15px;
        
    }

    .form__formulario{
        width: 50%;
    }

    .imagem__titulo--desktop{
        display: none;
    }
}

@media screen and (min-width: 1024px){
    .rodape{
        grid-template-columns: auto 1fr 1fr;
    }

    .imagem__titulo{
        display: none;
    }

    .imagem__titulo--desktop{
        display: block;
        height: 65%

    }

    .lista__rodape{
        grid-column: 2;
        row-gap: 10px;
        align-items: flex-start;
    }

    .form__formulario{
        grid-column: 3;
    }
    
}