body{
    background-color: #ffffff;

}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_home{
    display: flex;
    /*padding: 32px 0 32px 0;*/
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}

.barra_pesquisa input{
    border-radius: 15px;
    background-color: #f5f5f5;
    border: none;
    padding: 15px 95px 15px 15px;
    animation: none;
}

.barra_pesquisa{
    margin-left: 15px;
}

