body{
    background-color: #ffffff;
}

.CabecalhoPrincipal{
    padding: 15px 0;
}

.Container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.CabecalhoPrincipal-Home{
    display: flex;
    align-items:center;
}

.CabecalhoPrincipal-Home .barra_de_pesquisa{
    margin-left: 3em;
}

.barra_de_pesquisa{
    border-radius: 30px;
    background-color: #f5f5f5;
    border: none;
    padding: 15px 150px 15px 15px;
    font-family: 'Raleway', sans-serif;
    height: 0.5em;
}

i{
   position: relative;
   top: 0em;
   right: 2.5em;
   color: #a2a2a2;
}

i:hover{
    cursor: pointer;
}

.CabecalhoPrincipal-Botao{
   padding-top: 0.5em;
}

.Login{
    width: 11.5em;
    height: 3em;
    font-family: 'Raleway', sans-serif;
    border: solid 0.1em #2A7AE4;
    color: #2A7AE4;
    background: none;
    cursor: pointer;
}

.Login:hover{
    background: #cedcec;
}

.banner{
    width: 85.4em;
}


/*.ContainerBanner{
}*/

.Container .TextoTitulo{
    font-family: 'Raleway', sans-serif;
    font-weight : 700;
    font-size: 52px;
    color: #ffffff;
    position: absolute;
    top: 4.2em;
}

.Descricao{
    font-family: 'Raleway', sans-serif;
    font-weight : 700;
    font-size: 22px;
    color: #ffffff;
    position: absolute;
    top: 13em;
}

.Consoles{
    position: absolute;
    top: 25em;
    width: 11.5em;
    height: 4em;
    font-family: 'Raleway', sans-serif;
    border: solid 0.1em #2A7AE4;
    color: #ffffff;
    background: #2A7AE4;
    cursor: pointer;
}

.Consoles:hover{
    background: #76a5db;
    border: #2A7AE4;
}