body{
    background-color: #E5E5E5E5;
}


.CabecalhoPrincipal{
    padding: 15px 0;
    background-color: #FFFFFf;
}

.Container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.CabecalhoPrincipal-Home{
    display: flex;
    align-items:center;
}

.CabecalhoPrincipal-Home .barra_de_pesquisa{
    margin-left: 3em;
}

.barra_de_pesquisa{
    border-radius: 30px;
    background-color: #f5f5f5;
    border: none;
    padding: 15px 150px 15px 15px;
    font-family: 'Raleway', sans-serif;
    height: 0.5em;
}

i{
   position: relative;
   top: 0em;
   right: 2.5em;
   color: #a2a2a2;
}

i:hover{
    cursor: pointer;
}

.CabecalhoPrincipal-Botao{
   padding-top: 0.5em;
}

.Login{
    width: 11.5em;
    height: 3em;
    font-family: 'Raleway', sans-serif;
    border: solid 0.1em #2A7AE4;
    color: #2A7AE4;
    background: none;
    cursor: pointer;
}

.Login:hover{
    background: #cedcec;
}


.ContainerBanner{
    width: 100%;
}


.ContainerBanner-Textos{
    display: flex;
    font-weight : 700;
    width: 85%;
    flex-direction: column;
    height: 170px;
    left: 10%;
    justify-content: space-between;
    font-family: 'Raleway', sans-serif;
    font-weight : 700;
    font-size: 52px;
    color: #ffffff;
    position: absolute;
    top: 4em;
}

.Descricao{
    font-family: 'Raleway', sans-serif;
    font-weight : 700;
    font-size: 22px;
    color: #ffffff;
}

.Consoles{
    width: 10em;
    height: 4em;
    font-family: 'Raleway', sans-serif;
    border: solid 0.1em #2A7AE4;
    color: #ffffff;
    background: #2A7AE4;
    cursor: pointer;
}

.banner{
    width: 84.3em;
}


.Consoles:hover{
    background: #76a5db;
    border: #2A7AE4;
}

.ContainerProdutos{
    width: 85%;
    margin: 0 auto;
    /* height: 500px; */
}

.containerSuperior{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    align-items: baseline;
    padding-left: 5px;
    margin-bottom: 2em;
    width: 96%;
}


.ConteudoPrincipal-Itens{
    display: flex;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}

.TextosAnuncios{
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: space-between;
}

.TextosAnuncios li{
    margin-bottom: 7px;
}

.Anuncios{
    margin-top: 7px;
    padding-left: 6px;
    font-family: 'Raleway', sans-serif;

}

.Anuncios li{
    margin-bottom: 7px;
}

.Anuncios a{
    text-decoration: none;
    font-weight: 700;
    color: #2A7AE4;
}

.Primeirasfotos{
    display: flex;
}

.ConteudoPrincipal-Itens .ConteudoPrincipal{
    margin: 5px;
}
/* .item1{
    display: flex;
    flex-direction: wrap;
    justify-content: flex-start;
} */

.VideoGames{
    display: flex;
    width: 80%;
    margin-top: 2em; 
    justify-content: space-between;   
    font-family: 'Raleway', sans-serif;
    height: 24em;
}

.listaStar-Wars a, .VideoGames a{
    text-decoration: none;
    font-weight: 700;
    font-weight: bold;
    color: #2A7AE4;
}

.listaStar-Wars li, .VideoGames li{
    padding-bottom: 5px;
    padding-left: 5px;
}

.dinheiro{
    font-weight: bold;
}

.tituloUl{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.VerMais{
    color: #2A7AE4;
    font-family: 'Raleway', sans-serif;
    font: 16px;
    font-weight: 700;
    cursor: pointer;
}

.Anuncios{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* .VerMais::after{
    content: url(seta.png);
} */

.rodapePrincipal{
    background-color: #EAF2FD;
    width: 100%;
    margin-top: 15em;

}

.ContainerFooter{
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 3em 0 3em;
}

/* .navbar{
  
} */

.navbarInfo{
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    padding-left: 5em;
}

.navbarInfo a{
    text-decoration: none;
    color: #464646;
}

.navbarInfo li{
    margin-bottom: 2em;
}
/* .navBar-Footer{
    font-family: 'Raleway', sans-serif;
}

.navBar-Footer li{
    margin-bottom: 1.7em;
} */


.RodapeForm-ContatoForm{
    padding-left: 105px;
}

.EmailInput{
    width: 560px;
    height: 56px;
    background-color:#FFFFFf ;
    border-radius: 5px;
    border: none;
    box-shadow: rgb(128, 128, 128) 0px 1px 0px 0px;
    margin-bottom: 15px;
}

.MsgInput{
    width: 560px;
    height: 82px;
    background-color:#FFFFFf ;
    border-radius: 5px;
    border: none;
    box-shadow: rgb(128, 128, 128) 0px 1px 0px 0px;
    margin-bottom: 15px;
}

.RodapeContato-Legend{
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
}

.EmailInput::placeholder, .MsgInput::placeholder{
    position: absolute;
    top: 8px;
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    left: 10px;
    font-size: 12px;
}

.FormMensagem{
    display: flex;
    flex-direction: column;
}

.Enviar{
    width: 165px;
    height: 51px;
    border: none;
    cursor: pointer;
    font-family: 'Raleway', sans-serif; 
    font-weight: 400;
    background-color: #2A7AE4;
    color: #FFFFFf;
}


.RodapeSecundario{
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
}

.RodapeSecundario p{
    padding: 3px;
}



@media(max-width: 768px){
    .Container{
        width: auto;
        margin: auto 20px;
        justify-content: space-between;
        align-items: end;
    }

    /* .CabecalhoPrincipal-Botao{
        position: absolute;
        right:  150px;
    } */

    .Logo{
        width: 125px;
    }

   .ContainerBanner-Textos{
       width: auto;
       left: 7%;
       height: 130px;
       top: 50%;
   }
   .ContainerBanner-Textos h1{
       font-size: 22px;
       font-weight: bold;
   }
   .ContainerBanner-Textos p{
       font-size: 14px;
       font-weight: 600;
   }

   .ContainerProdutos{
        width: auto;
        margin: auto 10px;
    }

   .containerSuperior{
       margin-top: 1em;
   }
   
   .ConteudoPrincipal-Itens{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
   }

   .Primeirasfotos{
       display: flex;
       justify-content: center;
   }

   .ConteudoPrincipal{
        width: 45%;
   }

   /* .imagem{
       width: 99%;
   } */

   .ContainerFooter{
       flex-wrap: wrap;
   }

   .navbarInfo{
       text-align: center;
       padding: 0;
       padding-top: 20px;
       padding-bottom: 15px;
   }

   .RodapeForm-ContatoForm{
       padding: 0;
   }

   .EmailInput{
        width: 328px;

   }

   .MsgInput{
       width: 328px;
   }

   .RodapeSecundario{
        padding: 2em;
   }

   .TextosAnuncios{
       font-size: 14px;
       flex-wrap: wrap;
       width: auto;
   }
}


/* @media(max-width: 375px){


} */